@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    margin: 0;
}


/* Containers */
.sidebar {
    background-image: url(Images/sidebar-pexels-darius-krause.jpg);
    max-width: 600px; 
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.main-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F9FAFB;
}


/* Sidebar Section */
.logo-container {
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.credit-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.text-background {
    background-color: rgb(0, 0, 0, 0.23);
    display: flex;
    justify-content: center;
    padding: 10px 45px;
}

.logo-name-container {
    display: flex;
    flex-direction: column;
}

.logo-name {
    font-family:'Lumanosimo', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(115, 217, 193);
    font-size: 3rem;
}

.name-bottom {
    margin-left: auto;
}

.photo-credit {
    margin-top: auto;
    color: darkblue;
}



/* Main Content Section */
.form-background {
    background-color: white;
    padding: 23px 0 23px 45px;
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.2);
}

.intro,
  button,
  .log-in-link {
margin-left: 45px;
}

.intro {
    font-size: 1.5rem;
    width: 700px;
    font-weight: 500;
    padding-bottom: 40px;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.log-in-link {
    flex-grow: 7;
}

.intro, 
  h1, 
  li, 
  button, 
  .log-in-link {
    font-family: "Source Sans 3", Verdana, Geneva, Tahoma, sans-serif;
}

p {
    margin-bottom: 10px;
}


form h1 {
    margin: 0; 
    padding-bottom: 20px;
    font-weight: 500;
    font-size: x-large;
}

ul {
    padding: 0; 
    margin: 0;
}

li {
    list-style: none;
    display: flex;
    margin-bottom: 25px;
}

li > div {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

  input, 
  label {
    font-size: 100%;
    display: block;
    appearance: none;
}

input {
    width: 275px;
    height: 35px;
    border-radius: 5px;
    border: #E5E7EB solid;
    padding: 0 8px;
}

label {
    font-size: 0.95rem;
    font-weight: 600;
    letter-spacing: .13rem;
}

span {
    height: 1rem;
}

button {
    background-color: rgb(76, 76, 128);
    color: white;
    padding: 10px 50px;
    border-radius: 5px; 
    border-style: none;  
    border-color: transparent;
    border-image: none;
    margin-top: 30px;
    margin-bottom: 30px;
    appearance: none;
    font-size: 1.14rem;
    font-weight: 600;
}


/* Pseudo-Selectors */

.sidebar a:link {
    color: darkblue;
}

.sidebar a:visited  {
    color: rgb(155, 247, 255);
}

.log-in-link a:link {
    color: rgb(76, 76, 128);
}

.log-in-link a:visited  {
    color: rgb(155, 76, 182);
}

input:focus {
    outline: none;
    border: #2A4DD0 solid;
    box-shadow: 4px 3px 7px 0px rgba(0,0,0,0.2);
}

button:hover {
    cursor: pointer;
    outline: #2A4DD0 solid;
}

input:invalid {
    border-color: red;
    outline: none;
}

.invalid-password::after {
    content: "* Passwords do not match";
    color: red;
}

 
/* click for button */

/* verification */